strict-peer-dependencies=false
auto-install-peers=true
link-workspace-packages=false
registry=https://registry.npmjs.org/
ignore-workspace-root-check=true
hoist=false
hoist-workspace-packages=false
shamefully-hoist=true
